config.h
config.log
config.status
libtool
stamp-h1
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*Makefile.in
*Makefile
*.deps
*.libs
*component.la
*component.lo
*component.dylib
# Files created when running in "monolithic mode":
*component.so
Namespace
current_os
model
temp
# Created on Mac (by autotools, I think)
compile
# Ignore emacs backup files:
*~
counter.file
preprocess_model
